.alertBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 16px;
  overflow-y: auto; /* 只在垂直方向顯示滾動條 */
}

.alertHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  background-color: var(--md-sys-color-primary-container);
}

.alertTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 64px;
  flex: 1 0 0;
  align-self: stretch;
}

.scrollableContent {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.alertItem {
  width: 100%;
  height: 64px; /* 固定每個項目的高度 */
  background-color: var(--md-sys-color-surface); /* 默認背景色 */
}
.alertItem:nth-child(even) {
  background-color: var(--md-sys-color-on-primary); /* 偶數行用另一個顏色 */
}

.alertList {
  gap: 0px;
}

.alertContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.alertDate,
.alertStatus {
  flex: 1 0 0;
  text-align: center;
}

md-filled-button.basicBtn.details {
  min-width: 132px;
  --_container-color: var(--md-sys-color-outline);
  --_label-text-color: var(--md-sys-color-on-primary);
}
