.chartWall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%; 
  padding: 16px;
  background-color: var(--md-sys-color-background);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  position: relative;
}

.chartTitle {
  width: 100%;
  padding: 2px 0;
  color: var(--md-sys-color-on-surface-variant);
  text-align: start;
  font-size: 1.5rem; 
}

.chartContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: auto; /* 添加水平滾動條 */
  overflow-y: hidden; /* 隱藏垂直滾動條 */
}
.chartContainer canvas{
  height: 100% !important;
}

@media (max-width: 972px) {
  .chartWall {
  
    height:auto;
  }
  
}
