body,
html {
  overflow: hidden;
}
.homeBody {
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  background-color: var(--md-sys-color-on-primary);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.mainContent{
  margin: 0;
  display: flex;
  padding: 8px;
  width: 100%;
  gap: 8px;
}
.rightContent{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40%;
}
.leftContent{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 8px;
}