/* tvWall 容器的樣式 */
.mapWall {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 35%;
    padding: 16px;
    background-color: var(--md-sys-color-background);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    position: relative; /* 使 carousel 可以相對定位 */
  }
  
  /* 標題的樣式 */
  .mapTitle {
    width: 100%;
    padding: 6px 0;
    color: var(--md-sys-color-on-surface-variant);
    text-align: start;
    font-size: 1.25rem; /* 增加字體大小以提高可讀性 */
  }
  .google-map {
    width: 100%;
    height: 100%;
}