.meterWall {
  height: auto;
  margin: 0;
}

.meterGroup {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 8px;
}

.powerMeter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  background-color: var(--md-sys-color-background);
  width: 100%;
}

.mHTitle {
  width: 100%;
  padding: 2px 0;
  color: var(--md-sys-color-on-surface-variant);
  text-align: start;
  font-size: 1.5rem;
}

.mBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 16px;
}

.mTitle {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  margin: 0;
  background-color: var(--md-sys-color-primary-container);
  border-radius: 16px 16px 0 0;
}

.blurContainer {
  border-radius: 100px;
  width: 100%;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--md-sys-color-outline-variant);
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--md-sys-color-primary-container);
}

@media (max-width: 932px) {
  .meterWall {
    height: 30%;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: start;
}

.meterGroup {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100vw;
    scroll-snap-align: start;
}

.powerMeter {
    flex: none;
    min-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    scroll-snap-align: start; /* 調整對齊為開頭 */
}

}
