/* tvWall 容器的樣式 */
.tvWall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 35%;
  padding: 16px;
  background-color: var(--md-sys-color-background);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  position: relative; /* 使 carousel 可以相對定位 */
}

/* 標題的樣式 */
.tvTitle {
  width: 100%;
  padding: 2px 0;
  color: var(--md-sys-color-on-surface-variant);
  text-align: start;
  font-size: 1.5rem; 
}

/* carousel 的樣式 */
.carousel {
  width: 100%;
  height: calc(100% - 50px); /* 調整高度以留出點點位置 */
  overflow: hidden; /* 隱藏溢出的部分 */
  position: relative;
}

/* bigBox 的樣式 */
.bigBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: auto 1fr 1fr; 
  width: 100%;
  height: 100%;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  position: absolute;
  transition: transform 0.5s cubic-bezier(0, 0, 0.58, 1);
}

/* 標題的樣式 */
.sTitle {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2; /* 標題橫跨兩列 */
  text-align: center;
  font-size:large;
  margin: 0;
  background-color: var(--md-sys-color-primary-container);
  border-radius: 16px 16px 0 0;
}


/* smallBox 的樣式 */
.smallBox {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid var(--md-sys-color-outline-variant);
}
.smallBox:nth-child(even) {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.smallBox:nth-last-child(-n + 5) {
  border-bottom: none;
  border-right: none;
}
.smallBox:nth-last-child(-n + 2) {
  border-bottom: none;
  border-right: none;
}

/* gridName 的樣式 */
.gridName {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--md-sys-color-primary-container);
  border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

/* gridParameter 的樣式 */
.gridParameter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--md-sys-color-on-surface-variant);
  font-size: 2rem;
}

/* 點點的樣式 */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--md-sys-color-outline-variant);
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--md-sys-color-primary-container);
}

/* 響應式設計 */
@media (max-width: 768px) {
  .tvWall {
    flex-grow: 1;
    padding: 8px;
  }
 .carousel{
  height: 300px;
 }

}
